.mounika{background-image: -moz-radial-gradient();background-color: azure;backface-visibility: calc();font-style: italic;}
#mouni{background-image: -moz-linear-gradient();background-color: beige;}
p{font: bolder;}